**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules

.project
.settings
.idea/*
*.iml

_public
node_modules/*
npm-debug.log
node/


# Bower stuff.
bower_components/

coverage/
test/test-results.xml
test-results.xml

target/
build/

dist/vendor.js
dist/vendor.js.map